@import url('https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;600;700;900&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Geist", "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-surface-container: #121212;
  --color-surface-container-high: #1a1a1a;
  --color-surface-container-highest: #282828;
}

body {
  font-family: var(--font-sans);
  background-color: #000000;
  color: #e2e2e2;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

/* Custom Scrollbar prevention utilities */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Micro-feedback tap animations */
.active-press:active {
  transform: scale(0.97);
  opacity: 0.9;
}
